
.encabezado1{
   position: absolute;
   margin-top: -100px;
   margin-left: 33%;
    p{
        font-size: 20px;
    }
}

#cua_principal{
    width: 380px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

.encabezado{
    margin-left: 13%;
    margin-top: 10%;
    position: absolute;

    p{
        font-size: 23px;
    }
    
}

.cont_formu{
    position: absolute;
    margin-top: 40%;
    margin-left: 50px;


    input{
        display: block;
        border-style: none;
        border-bottom: solid 1px;
        margin-bottom: 60px;
        outline: none;
        width: 250px;
    }

    #la_usuario{
        position: absolute;
        margin-top: -26px;
    }

    #la_contraseña{
        position: absolute;
        margin-top: -25px;
    }

    #cont_boton_crear input{
        position: absolute;
        margin-left: 18px;
        border-style: none;
        width: 250px;
        height: 40px;
        background-color: aqua;
        font-size: 18px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

}
