@media(max-width: 400px){
    #cua_principal{
        margin-top: 60%;
        width: 300px;
        height: 350px;
    }

    .cont_formu{
        
        margin-top: 100px;
        margin-left: 14px;
    }

    .cont_formu input{
        width: 150px;
    }

    .encabezado p{
        font-size: 15px;
    }

    #cont_boton_crear{
        margin-right: 50px;
        margin-bottom: 85px;
    }

    #cont_boton_crear input{
        width: 510px;
        height: 20px;
    
    }
}